{% extends "base.html" %}
{% block content %}
    <form action="{{url_for('refresh')}}" method="GET">
        <input type="submit" value="Refresh manager home page">
    </form>
    <br>
    <br>
    <div style="width:50%; float:left;">
        <fieldset>
            <legend>Control Panel</legend>
                <fieldset>
                    <legend>Maunally control</legend>
                    <form action="{{url_for('ec2_create')}}" method="post">
                        Add one worker:
                        <br>
                        <input type="submit" value="Add a new worker">
                    </form>
                    <br>
                    <br>
                    <form action="{{url_for('ec2_random_destroy')}}" method="post" onsubmit='return confirm("confirm to delete?")' >
                            Randomly delete a worker:<br>
                            <input type="submit" value="Randomly delete a worker">
                    </form>
                </fieldset>
                <br>
                <fieldset>
                    <legend>Auto scaling setting</legend>
                    {% if not auto_scaling %}
                        Auto scaling is currently off:<br>
                        <form action="{{url_for('turn_on_auto_scaling')}}" method="post">
                            Grow rate:
                            <input type="number" name = 'grow_rate' value = '{{grow_rate}}'>
                            <br>
                            Grow threshold:
                            <input type="number" name = 'grow_threshold' value = '{{grow_threshold}}'>
                            <br>
                            Shrink rate:
                            <input type="number" name = 'shrink_rate' value = '{{shrink_rate}}'>
                            <br>
                            Shrink threshold:
                            <input type="number" name = 'shrink_threshold' value = '{{shrink_threshold}}'>
                            <br>
                            <input type="submit" value = 'Apply and Turn on auto scaling'>
                        </form>
                    {% else %}
                        Auto scaling is currently on:<br>
                        grow_rate = {{grow_rate}}<br>
                        grow_threshold = {{grow_threshold}}<br>
                        shrink_rate = {{shrink_rate}}<br>
                        shrink_threshold = {{shrink_threshold}}<br>
                        <form action="{{url_for('turn_off_auto_scaling')}}" method="post">
                            <input type="submit" value = 'disable auto scaling'>
                        </form>
                    {% endif %}
                 </fieldset>
                 <br>
                 <fieldset>
                        <legend>Delete data</legend>
                        <form action="{{url_for('Del')}}" method="post" onsubmit='return confirm("confirm to delete all data?")' >
                            Delete all data:
                            <br>
                            <input type="submit" value="Delete all data">
                        </form>
                    </fieldset>
        </fieldset>
    </div>

    <div style="width:50%; float:right;">
        <fieldset>
            <legend>Worker Pool</legend>
            <table />
            <thead>
            <th>ID</th>
            <th>Type</th>
            <th>Availability Zone</th>
            <th>Status</th>
            </thead> 
            {% for instance in instances %}
                <tr>
                    <td>{{ instance.id }}</td>
                    <td>{{ instance.instance_type }}</td>
                    <td>{{ instance.placement['AvailabilityZone']}}</td>
                    <td>{{ instance.state['Name'] }}</td>
                    <td>
                        <form action="{{url_for('ec2_view',id=instance.id)}}" method='get'>
                            <input type='submit' value='Details' />
                        </form>
                    </td>
                
                    <td>
                        <form action="{{url_for('ec2_destroy',id=instance.id)}}" method='post' onsubmit='return confirm("Are you sure?")'>
                            <input type='submit' value='Destroy' />
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </table>
        </fieldset>
    </div>
{% endblock %}
